.canvas-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.8%;
}

.canvas-wrapper-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.8%;
}

.game-score{
  position: absolute;
  left:46rem;
  top:2%;
  width:auto;
  height: auto;
  color:white;
  font-size: 20px;
  border-radius: 5px;
  font-family: "Press Start 2P", system-ui;;
}

.canvas-background{
  display: flex;
  justify-content: center;
  width:480px;
  height:95px;
}

.canvas-background img{
  width: 100%;
  height: 100%;
}

.start-canvas {
  width: 480px;
  height: 655px;
  position: relative;
}

.start-canvas img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.start-canvas button {
  position: absolute;
  top: 70%;
  left: 35%;
  /* transform: translate(-50%, -50%); */
  padding: 12px 24px;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(211, 74, 74);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 2px 2px 0 #640017;
  transition: transform 0.1s ease;
  font-family: "Press Start 2P", system-ui;
}

.start-canvas button:hover {
  /* background-color: rgb(192, 62, 62); */
  transform: scale(1.05);

}

.bird-container{
  width:55px;
  height:39px;
  position: absolute;
  top: 160px;
  left: 140px;
  object-fit: cover;
}

.bird-container img{
  width:100%;
  height:100%;
}

.game-over-message{
  width: 14%;
  position: absolute;
  top: 23%;
}

.game-over-modal {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 240px;
  padding: 20px;
  text-align: center;
  background: #fefbb0;
  border: 4px solid #333;
  border-radius: 12px;
  font-family: "Press Start 2P", system-ui;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
  color: #333;
  z-index: 1000;
}


.game-over-modal h4{
  margin-top: 13%;
}

.gif-container{
  width: 200px;
  height:200px;
} 

.speed-btn-container{
  position: absolute;
  top: 64px; 
  width: 480px;
  font-family: "Press Start 2P", system-ui;
  text-align: center;
}

.speed-btn-container button{
  color: white;
  font-size:22px;
  margin: 0% 9% 0% 0%;
  background-color: transparent;
  border: none; 
  font-family: "Press Start 2P", system-ui;
  cursor: pointer;
}

.speed-btn-container button:hover{
box-shadow: 3px 3px 3px #888888;
border-radius: 4px;
}

.selected-speed{
  color: rgb(192, 62, 62)!important;
}

.bird__selection{
  position: absolute;
  top: 20%;
  width: 480px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1% 1% 1% 1%;
}

.arrow-container{
  width:50px;
  height:auto;
}

.left-arrow img{
  transform: rotate(180deg);
}

.left-arrow:active{
  transform:scale(1.1)
}

.right-arrow:active{
  transform: scale(1.1);
}

.arrow-container img{
  width:100%;
  height:100%;
}

.bird-image-container{
  width: 55px;
  height: 55px;
}

.bird-image-container img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}


.retry-button {
  font-family: "Press Start 2P", system-ui;
  font-size: 19px;
  background-color: rgb(211, 74, 74);
  padding: 5% 8% 5% 8% !important;
  margin:10% 0% 6% 0%;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 2px 2px 0 #640017;
  transition: transform 0.1s ease;
}

.retry-button:hover {
  transform: scale(1.05);
}












