.canvas-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.8%;
}

.canvas-wrapper-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.8%;
}

.game-score{
  position: absolute;
  left:46rem;
  top:2%;
  width:auto;
  height: auto;
  color:white;
  font-size: 20px;
  border-radius: 5px;
  font-family: "Press Start 2P", system-ui;;
}

.canvas-background{
  display: flex;
  justify-content: center;
  width:480px;
  height:95px;
}

.canvas-background img{
  width: 100%;
  height: 100%;
}

.start-canvas {
  width: 480px;
  height: 655px;
  position: relative;
}

.start-canvas img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.start-canvas button {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px 24px;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(211, 74, 74);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: "Press Start 2P", system-ui;
}

.start-canvas button:hover {
  background-color: rgb(192, 62, 62);
}

.bird-container{
  width:50px;
  height:50px;
  position: absolute;
  top: 160px;
  left: 140px;
  object-fit: cover;
}

.bird-container img{
  width:100%;
  height:100%;
}

.game-over-message{
  width: 14%;
  position: absolute;
  top: 23%;
}

.game-over-modal{
  position: absolute;
  height: auto;
  width:180px;
  text-align: center;
  padding:1% 2% 2% 1%;
  border-radius: 4px;
  box-shadow: 20px 20px 40px grey;
  background-color: rgb(255, 255, 221);
  font-family: "Press Start 2P", system-ui;
} 

.game-over-modal h4{
  margin-top: 13%;
}

.game-over-modal button{
  font-size: 19px;
  padding: 5% 8% 5% 8%;
  font-family: "Press Start 2P", system-ui;
  background-color: rgb(211, 74, 74);
  color:white;
  border: none;
  border-radius:8px;
  cursor: pointer;
  margin-top:12%;
}

.restart-button:hover{
    background-color: rgb(192, 62, 62);
}

.gif-container{
  width: 200px;
  height:200px;
} 

.speed-btn-container{
  position: absolute;
  top: 64px; 
  width: 480px;
  font-family: "Press Start 2P", system-ui;
  text-align: center;
}

.speed-btn-container button{
  color: white;
  font-size:22px;
  margin: 0% 9% 0% 0%;
  background-color: transparent;
  border: none; 
  font-family: "Press Start 2P", system-ui;
  cursor: pointer;
}

.speed-btn-container button:hover{
box-shadow: 3px 3px 3px #888888;
border-radius: 4px;
}

.selected-speed{
  color: rgb(192, 62, 62)!important;
}








